:root {
  /* --border-color: #27272A; */
  --border-color: #3b3b3b;
  --error-color: 255, 88, 88;
  --secondary-text-color: #818181;
  --btn-hover-background-color: #27272A;
  --btn-2-hover-background-color: 116, 116, 116;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #111;
  color: white;
}

a {
  color: rgb(37, 37, 167);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  padding: .5rem .8rem;
  border-radius: .5rem;
  cursor: pointer;
}

/* Chrome, Edge, Safari (Webkit-based browsers) CSS to prevent browser's autofill default css */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  /* Chrome fix */
}

/* Firefox CSS to prevent browser's autofill default css */
input:-moz-autofill {
  background-color: transparent !important;
  color: white !important;
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* toastStyles.css */
.Toastify__progress-bar {}

/* For Tablets */
@media (max-width: 1024px) {}

/* For Mobiles */
@media (max-width: 768px) {}