.Toastify__toast:has(.modal-overlay) {
    min-width: 40rem;
    padding: 0;
}

.modal-overlay {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
}

.modal-title {
    font-weight: 500;
    padding: 0 1rem 1rem;
}

.modal-layout {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.modal-sidebar {
    padding-top: 1rem;
    width: 30%;
    border-right: .1rem solid var(--border-color);
}

.modal-sidebar .active {
    color: #4C54D2;
    position: relative;
    transition: .3s ease-in-out;
}

.modal-sidebar .active::after {
    transition: .3s ease-in-out;
    content: "";
    position: absolute;
    height: 100%;
    width: .2rem;
    border-radius: 1rem;
    background-color: #4C54D2;
    top: 0;
    margin-left: .1rem;
    inset: 0;
}

.modal-sidebar ul {
    list-style: none;
}

.modal-sidebar ul li {
    transition: .3s ease-in-out;
    cursor: pointer;
    font-size: .8rem;
    font-size: .9rem;
    padding: .5rem 1rem;
}

.modal-sidebar ul li:hover {
    background-color: #292828ab;
}

.modal-settings {
    height: 20rem;
    width: 70%;
    position: relative;
}


.background-settings {
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #ccc transparent;
    scrollbar-gutter: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    height: fit-content;
    text-align: center;
}

.container span {
    font-size: .9rem;
    color: var(--secondary-text-color)
}

.background-option {
    border-radius: 1rem;
    height: 8rem;
    cursor: pointer;
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .8rem;
    align-items: center;
    gap: .5rem;
}

.background-option:has(.upload-icon) {
    border: .1rem solid white;
}

.background-theme__img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    image-rendering: auto;
}


.upload-icon {
    font-size: 2rem !important;
    display: inline-block;
}

.file-input {
    display: none;
}

.selected-icon,
.remove-theme__icon {
    background-color: #3F39E8;
    color: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    will-change: opacity, scale;
}

.remove-theme__icon {
    opacity: 0;
    transform: scale(0);
    background-color: #111;
    left: .5rem;
    transition: .3s ease-in-out;
    z-index: 200;
}

.background-option:hover .remove-theme__icon {
    opacity: 1;
    transform: scale(1);
}

.deselected {
    display: none !important;
}

/* User Content */
.user-settings {
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-settings__title {
    text-align: start;
    font-weight: 500;
    width: 100%;
}

.user-settings #user-avatar__container {
    height: 5rem;
    width: 5rem;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}

.user-settings #user-avatar__container:hover {
    transform: scale(.9);
}

.avatar-upload__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    opacity: .6;
    color: #111111;
}

.user-settings__btn-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.user-settings__button {
    width: 5rem;
    transition: .3s ease;
    will-change: scale;
}

.user-settings__button:hover {
    transform: scale(.9);
}

.user-save__button {
    background-color: blue;
    color: white;
}

.user-delete__button {
    background-color: red;
    color: white;
    width: 8rem;
}



/* For Tablets */
@media (max-width: 1024px) {
    .modal-overlay {
        padding: 1rem 2rem;
    }

    .background-settings {
        grid-template-columns: repeat(3, 1fr);
    }

    .background-option {
        height: 10rem;
    }
}

/* For Mobiles */
@media (max-width: 768px) {
    .Toastify__toast:has(.modal-overlay) {
        min-width: 100dvw;
        text-align: center;
    }

    .modal-layout {
        flex-direction: column;
    }

    .modal-sidebar {
        border: none;
        width: 100%;
        padding: 0;
    }

    .modal-sidebar ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-settings {
        width: 100%;
    }

    .background-settings {
        padding: 1rem !important;
    }

    .background-settings {
        grid-template-columns: repeat(2, 1fr);
    }

    .background-option {
        height: 7rem;
    }

    .user-settings__title{
        display: none;
    }
}