.auth-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.8rem 2rem;
    position: relative;
    z-index: 200;
}

.logo {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.logo .logo-container {
    height: 2rem;
    width: auto;
}

.logo .logo-container img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.logo h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0af;
    letter-spacing: 1px;
}


.form-container {
    background-color: rgb(26, 26, 26);
    text-align: center;
    width: 30rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0 0;
}

.form-container h2 {
    font-weight: 600;
}

.form-container p {
    margin: .6rem 0 1.4rem;
    font-size: .8rem;
    color: var(--secondary-text-color);
}

.auth-btn-container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.auth-btn-container button {
    background-color: transparent;
    border: .1rem solid var(--border-color);
    color: white;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.auth-btn-container button:hover {
    background-color: var(--btn-hover-background-color);
}

.auth-btn-container button span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    color: var(--secondary-text-color);
    margin: 1.2rem 0;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-wrap: nowrap;
}

.separator::before,
.separator::after {
    content: "";
    display: block;
    background-color: var(--secondary-text-color);
    width: 100%;
    height: .1rem;
}

.credentials-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}

.credentials-container .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.credentials-container .form-group .label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credentials-container .form-group label,
.credentials-container .form-group a {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.credentials-container .form-group a {
    color: white;
    font-size: .9rem;
    transition: .3s ease;
}

.credentials-container .form-group a:hover {
    color: var(--secondary-text-color);
}

.credentials-container .form-group input {
    border-radius: .3rem;
    background-color: transparent;
    border: .1rem solid var(--border-color);
    outline: none;
    width: 100%;
    padding: .5rem;
    padding-right: 2rem;
    color: white !important;
}

.credentials-container .form-group input::placeholder {
    color: var(--secondary-text-color);
}

.credentials-container .input-error {
    color: rgb(var(--error-color));
    font-size: .9rem;
    margin: 0;
    margin-top: .5rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.credentials-container .input-error span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.credentials-container .form-group .input-container {
    position: relative;
}

.credentials-container .form-group .password-show-toggle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    z-index: 1;
    font-size: 1.2rem;
}

.credentials-container .user-avatar__container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: .5rem
}

.credentials-container .avatar__div {
    position: relative;
}

.credentials-container .avatar__div .spiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 2rem;
}


.user-avatar__subhead {
    text-align: center;
}

#avatar-input {
    display: none;
}

.credentials-container .user-avatar {
    cursor: pointer;
    height: 6.5rem;
    width: 6.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    image-rendering: auto;
    transition: .3s ease;
    will-change: opacity, scale;
}

.credentials-container .avatar__div:has(.spiner) .user-avatar {
    opacity: .4;
}

.credentials-container .user-avatar:hover {
    opacity: .6;
    transform: scale(1.05);
}

.credentials-container button {
    transition: .3s ease;
    font-weight: 600;
    font-size: .9rem;
}

.credentials-container button:hover,
.credentials-container .reset-button:hover {
    background-color: rgb(var(--btn-2-hover-background-color));
}

.form-recovery {
    margin-top: .6rem;
    font-size: .8rem;
}

.form-links {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.form-links a {
    font-size: .8rem;
    color: white;
    transition: .3s ease;
}

.form-links a:hover {
    color: var(--secondary-text-color)
}

.form-recovery span a {
    color: var(--secondary-text-color);
    transition: .3s ease;
}

.form-type {
    font-size: .8rem;
    margin-top: 1.8rem;
}

.legal-info-container {
    margin-top: 2rem;
    text-align: center;
    font-size: .7rem;
    width: 12rem;
    color: var(--secondary-text-color);
}

.legal-info-container p a,
.form-type a {
    color: var(--secondary-text-color);
    text-decoration: underline;
    transition: .3s ease;
}

.legal-info-container p a:hover,
.form-recovery span a:hover,
.form-type a:hover {
    color: white;
}

/* For Tablets */
@media (max-width: 1024px) {
    .credentials-container .user-avatar:hover {
        opacity: 1;
    }
}

/* For Mobiles */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }

    .credentials-container .user-avatar {
        height: 6rem;
        width: 6rem;
    }

    .user-avatar__subhead span,
    .user-avatar__subhead p {
        font-size: .8rem !important;
    }

    .credentials-container .user-avatar:hover {
        opacity: 1;
    }
}