.chat-room_skeleton {
  background-color: black;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: #ccc;
  text-align: start;
  position: relative;
  font-size: 1rem;
}

.chat-room_skeleton__text {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  line-height: 1.5;
}

/* Sidebar icon */
.chat-room_skeleton .toggle-sidebar {
  position: absolute;
  font-size: 1.5rem;
  top: 1.8rem;
  left: 1rem;
  color: white;
  display: none;
  cursor: pointer;
}

/* Responsive visibility */
.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 375px) {
  .chat-room_skeleton .toggle-sidebar {
    top: 1rem;
  }
}

@media (max-width: 768px) {

  .chat-room_skeleton .toggle-sidebar {
    display: flex;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}