.Toastify__progress-bar {}

.Toastify__toast {
    /* background-color: #272727; */
    /* width: auto; */
    min-width: 30rem;
    padding: 2rem 1.5rem;
}

.custom-toast__actions {
    margin-top: 1rem;
}

.custom-toast__button {
    font-weight: bold;
    width: 5rem;
    transition: .3s ease-in-out;
    will-change: transform;
}

.custom-toast__button:hover,
.custom-toast__button:hover {
    transform: scale(1.1);
}

.input-toast__error {
    color: rgb(var(--error-color));
    /* font-size: .9rem; */
    margin: 0;
    margin-top: .5rem;
    display: flex;
    gap: .2rem;
    font-size: .9rem;
    align-items: center;
    text-align: start;
    /* border: .1rem solid red; */
}

/* Input Decision Toast CSS */
.decision-toast {
    /* border: .1rem solid red; */
    /* min-width: 25rem; */
    width: 100%;
    text-align: center;
}

.decision-toast__title {
    font-weight: 500;
}

#decision-toast__input {
    background-color: transparent;
    margin-top: 1rem;
    color: white;
    outline: none;
    border: .1rem solid var(--border-color);
    padding: .5rem .8rem;
    width: 100%;
}

.decision-toast__button--primary {
    background-color: #2563eb;
    color: black;
}

.decision-toast__button--secondary {
    margin-left: 1rem;
    background-color: #22c55e;
    color: black;
}


/* Confirm Toast CSS */
.confirm-toast {
    width: 100%;
    text-align: center;
}

.confirm-toast__icon {
    font-size: 3rem;
    color: #F6BE8C;
}

.confirm-toast__title {
    font-size: 1.4rem;
    margin: 0 0 1rem;
    color: #F6BE8C
}

.confirm-toast__description {
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

.confirm-toast__button--ok {
    background-color: #DF6B50;
    color: white;
}

.confirm-toast__button--cancel {
    margin-left: 1rem;
    /* background-color: #DF6B50;
    color: white; */
}

/* Share Toast CSS */
.share-toast {
    /* flex items-center gap-3  */
    /* border: .1rem solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem
}

.share-toast__action {
    /* border: .1rem solid red; */
    /* width: 80%; */
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.share-toast__row {
    /* border: .1rem solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.share-toast__button {
    transition: .3s ease-in-out;
    will-change: scale;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-weight: 500;
    width: 8rem;
}

.share-toast__button:hover {
    transform: scale(1.1);
}

.share-toast__action .share {
    /* text-blue-600 hover:text-blue-800  */
    background-color: #2563eb;
    text-wrap: nowrap;
    color: white;
}

.share-toast__action .copy {
    /* text-green-600 hover:text-green-800  */
    background-color: #22c55e;
}

.share-toast__action .leave {
    background-color: red;
    width: 100%;
    color: white;
}

.share-toast__icon {
    /* border: .1rem solid red; */
    font-size: 1.2rem;
}

.share-toast__copied {
    /* text-green-500 text-sm  */
    color: green;
}

/* For Tablets */
@media (max-width: 1024px) {}

/* For Mobiles */
@media (max-width: 768px) {
    .Toastify__toast {
        /* padding: 1rem; */
        min-width: 100dvw;
    }

    .input-toast__error {
        font-size: .9rem;
    }

    .decision-toast {
        min-width: 90dvw;
    }
}