.legal__wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    /* border: .1rem solid red;     */
}

.legal__wrapper h1 {
    margin-bottom: .5rem;
}

.legal__overlay {
    /* width: 60%; */
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    max-height: 90dvh;
}

.legal__subhead {
    margin-bottom: 1.5rem;
    margin-left: .5rem;
}

.legal__list-overlay {
    padding-right: 1rem;
    padding-left: .5rem;
    height: 70dvh;
    overflow: hidden auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #ccc transparent;
}

.legal-list__head {
    margin-bottom: .5rem;
}

.legal__list {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.legal__wrapper ol {
    margin-top: .5rem;
    margin-left: 1rem;
}

.legal__wrapper li strong {
    display: block;
}

.legal__footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1.5rem;
}

.legal__go-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal__go-back button {
    transition: .3s ease-in-out;
    background-color: rgb(55, 162, 233);
    font-weight: 500;
    width: 10rem;
    margin-top: .5rem;
}

.legal__go-back button:hover {
    background-color: rgb(55, 97, 233);
}

.info-fallback__wrapper {
    /* border: .1rem solid red; */
    height: 100dvh;
    width: 100%;
    padding: 3rem;
}

.info-fallback {
    /* border: .1rem solid green; */
    height: 100%;
    margin: 0 auto;
    /* width: 100%; */
    width: fit-content;
    text-align: center;
}

.info-fallback h1 {
    /* text-align: start; */
    /* font-size: 2rem; */
    margin-bottom: 3rem;
}

.info-fallback p {
    margin: 1rem 0;
    text-align: start;
}

.info-fallback button {
    text-align: center;
    margin-top: 1.5rem;
    padding: 0.7rem 2rem;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    /* border: .1rem solid red; */
}

.info-fallback button:hover {
    background-color: #005f99
}


/* For Tablets */
@media (max-width: 1024px) {
    .legal__overlay {
        padding: 4rem;
    }

    .legal__list-overlay {
        height: 50dvh;
    }
}

/* For Mobiles */
@media (max-width: 768px) {
    .legal__overlay {
        width: 100%;
    }

    .legal__wrapper p,
    .legal__wrapper li {
        font-size: .8rem;
    }

    .info-fallback__wrapper {
        padding: 2rem;
    }
}