.loader-container {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #111;
}

.loading-spinner {
  display: flex;
  gap: .5rem;
  align-items: center;
  color: #00ffff;
}

.loader-icon {
  font-size: 1.2rem;
}

.loader-text {
  font-size: 1.4rem;
}