.sidebar {
    position: relative;
    width: 20rem;
    height: 100%;
    background-color: #111;
}

.sidebar .toggle-sidebar {
    position: absolute;
    right: .5rem;
    /* top: 2.3rem; */
    top: 1.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar-links {
    width: calc(100% - 3rem);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    height: 5rem;
    padding-left: .5rem;
    margin-top: .5rem;
}

.user .user-logo-container {
    height: 4rem;
    width: 4rem;
    margin-left: .5rem;
}

.user .user-logo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user-username {
    max-width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
}

.general-chat {
    transition: .3s ease-in-out;
    margin: 2rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    padding-left: 1rem;
}

.sidebar-links .sidebar-nav {
    text-wrap: nowrap;
    font-size: .8rem;
    /* padding-top: 3rem; */
}

.sidebar-nav__header {
    padding-left: 1rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-nav__title {
    font-size: 1rem;
}

.sidebar-nav__add-icon {
    cursor: pointer;
    font-size: 1rem;
}

.sidebar-nav__list {
    height: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #ccc transparent;
}

.sidebar-nav__item {
    width: 100%;
    cursor: pointer;
    padding: .3rem 0;
    transition: .3s ease-in-out;
    padding-left: 1rem;
    overflow: hidden;
    width: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-nav__item:hover,
.general-chat:hover {
    background-color: rgba(255, 255, 255, 0.329)
}

.sidebar-nav__footer {
    position: absolute;
    bottom: 1rem;
    padding-left: 1rem;
    width: 100%;
    text-wrap: nowrap;
}

.sidebar-nav__footer .sidebar-nav__button {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: .3s ease;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.sidebar-nav__footer .sidebar-nav__button:last-child {
    padding-top: .5rem;
}

.sidebar-nav__footer .sidebar-nav__button:hover {
    color: var(--secondary-text-color)
}

/* For Tablets */
@media (max-width: 1024px) {}

/* For Mobiles */
@media (max-width: 768px) {
    .sidebar {
        width: 0;
        position: absolute;
        z-index: 999;
    }
}